# <font color = "Lime"> Python Set  </font>

A set is an <font color = magenta>**unordered collection**</font> of unique elements. It is a built-in data structure that allows you to store a collection of items without any duplicate values.

 Sets are mutable, which means you can add or remove elements from them. Sets are useful when you need to work with unique elements or perform mathematical set operations like union, intersection, and difference

In [3]:
my_set = {1, 2, 3, 4, 5, 1, 3}
print(my_set)

{1, 2, 3, 4, 5}

You can also create a set using the <font color = magenta>**set()** </font> constructor and passing an iterable (such as a list or tuple) as an argument:

In [ ]:
my_list = [1, 1, 2, 2, 3, 3, 4, 5, 5, 4]
my_set = set(my_list)
print(my_set)

Sets automatically remove duplicate elements, so if you have duplicate values in the iterable, they will be reduced to unique elements in the resulting set.

In [ ]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of "mixed datatypes"
my_set = {1.0, "Hello", (1, 2, 3)} # {float, string, tuple}
print(my_set)

In [ ]:
# Distinguish set and dictionary while creating empty set
# initialize a with {}
a = {}

# check data type of "a"
print(type(a))

# initialize "a" with set()
a = set() # "set()" is a predefined function

# check data type of "a"
print(type(a))

## <font color = greem> **Properties and Operations:**</font>
1. <font color = magenta>**Unique Elements:**</font> Sets only contain unique elements. If you try to add a duplicate element, it will be ignored:

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
my_set.add(2)  # Ignored, already present
print(my_set)  # Output: {1, 2, 3, 4}

2. <font color = magenta>**Set Operations:**</font> Sets support various set operations such as union (|), intersection (&), difference (-), and symmetric difference (^):

In [19]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set = set1 | set2             # Union
intersection_set = set1 & set2      # Intersection
difference_set = set1 - set2        # Difference (elements in set1 but not in set2)
symmetric_difference_set = set1 ^ set2   # Symmetric Difference (elements in set1 or set2 but not in both)

print(union_set)                    # Output: {1, 2, 3, 4, 5, 6}
print(intersection_set)             # Output: {3, 4}
print(difference_set)               # Output: {1, 2}
print(symmetric_difference_set)     # Output: {1, 2, 5, 6}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

3. <font color = magenta>**Membership Testing:** </font> You can test if an element is present in a set using the in operator:

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(3 in my_set)      # Output: True
print(6 in my_set)      # Output: False

4. <font color = magenta>**Mutable Operations:** </font>  Sets allow adding and removing elements using methods like add(), remove(), discard(), and pop():

In [13]:
my_set = {0, 1, 2, 3}

my_set.add(4)            # Add a single element to set
my_set.update([5, 6, 7]) # update values in a set
print(my_set)

# Remove element an elemet if present else KeyError  is rised
my_set.remove(2)
my_set.discard(5)        # Discard element (no error if not present)
element = my_set.pop()   # Remove and return an arbitrary element

print(my_set)
print(element)

{0, 1, 2, 3, 4, 5, 6, 7}
{1, 3, 4, 6, 7}
0

In [ ]:
my_set = set("HelloWorld")
print(my_set)

In [ ]:
print(my_set.pop())#

In [ ]:
print(my_set.pop())

In [ ]:
print(my_set.pop())

In [ ]:
my_set.clear()
print(my_set)