# <font color = "Lime"> List: </font>

It is used to store a list of values of <font color = "aqua">**any type**</font>.

lists are <font color = "aqua">*Mutable* </font>.

[&nbsp;]&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<font color = "yellow">List with no member, empty list

[1, 2, 3]  &emsp;&emsp;&emsp;&emsp;&nbsp;<font color = "yellow"> List of integers

[1, 2.5, 3.7, 8]&emsp;&emsp;<font color = "yellow"> List of numbers(integer and floating point)

['a', 'b', 'c'] &emsp;&emsp;&ensp;&emsp;<font color = "yellow">  List of characters


['a', 1, 3.5, 'python']  <font color = "yellow">List of mixed value types

['hai', 'hello']  &emsp;&emsp;&nbsp; <font color = "yellow">List of strings

#<font color = "Lime">Creating List

To create a list, put a number of expressions in <font color = "aqua">square brackets.

[&nbsp;] indicates the start and end of the list.

seperate the item by comma<font color = "aqua"> ( , ).

In [5]:
#The empty list:
emptyList = list()
print(emptyList)

[]

In [7]:
# Long list: It contains many elements
newList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print (newList)

#Nested lists
nestedList = [3, 4, [5, 6], 7]
print(nestedList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, [5, 6], 7]

## <font color = "Lime"> Accessing list

* Forward indexing

* backward indexing

<font color = "magenta">**lists are similar to strings in following ways**

* length
* Indexing and slicing
* Membership Operators
* Concatenation and replication opeartors + and *

#<font color = "magenta">List operations

* Joining list
* Replicating list
* Slicing the list

# <font color = "aqua">List functions and method

* index: list.index(item)
* Append: list.append(item)
* Extend: list.extend(list)
* insert: list.insert(pos,item)
* pop: list.pop(index)
* remove: list.remove(value)
* clear: list.clear()
* count: list.count(item)
* reverse: list.reverse()
* sort:list.sort()

In [13]:
#index(item): Returns the index of the first occurrence of item in the list.
L = [ 8, 9, 0, 1, 5, 6, 7, 2, 3, 4,]
print(L.index(3))

8

In [ ]:
# append(item): Adds item to the end of the list.
my_list = ['a', 'b','c']
L.append(my_list)
print(L)
L.append("Hello",)
print(L)

In [17]:
#extend(list): Appends all elements from list to the end of the original list.
L2 = ['x', 'y','z']
my_list.extend(L2)
print(my_list)

['a', 'b', 'c', 'x', 'y', 'z']

In [20]:
# insert(pos, item): Inserts item at the specified pos index in the list
L = [ 8, 9, 0, 1, 5, 6, 7, 2, 3, 4,10]
print(L)
L.insert(0, 3.14)
print(L)

[8, 9, 0, 1, 5, 6, 7, 2, 3, 4, 10]
[3.14, 8, 9, 0, 1, 5, 6, 7, 2, 3, 4, 10]

In [23]:
#pop(index): Removes and returns the element at the specified index in the list.
L = [ 8, 9, 0, 1, 5, 6, 7, 2, 3, 4, 10]
print(L)
L.pop(8)
print(L)

[8, 9, 0, 1, 5, 6, 7, 2, 3, 4, 10]
[8, 9, 0, 1, 5, 6, 7, 2, 4, 10]

In [25]:
#remove(value): Removes the first occurrence of value from the list.
L = [ 8, 9, 0, 1, 5, 6, 7, 2, 3, 0, 10]
print(L)
L.remove(0)
print(L)

[8, 9, 0, 1, 5, 6, 7, 2, 3, 0, 10]
[8, 9, 1, 5, 6, 7, 2, 3, 0, 10]

In [27]:
#count(item): Returns the number of occurrences of item in the list.
L = [ 8, 9, 0, 1, 5, 6, 7, 2, 3, 0, 10]
print(L)
L.count(0)

[8, 9, 0, 1, 5, 6, 7, 2, 3, 0, 10]

2

In [28]:
#reverse(): Reverses the order of elements in the list.
L.reverse()
print(L)

[10, 0, 3, 2, 7, 6, 5, 1, 0, 9, 8]

In [29]:
#sort(): Sorts the elements of the list in ascending order.
L2 = [10, 25, 3, 45, 5, 9]
L2.sort()
print(L2)

[3, 5, 9, 10, 25, 45]

In [30]:
L2.reverse()
print(L2)

[45, 25, 10, 9, 5, 3]

In [33]:
L = [ 8, 9, 0, 1, 5, 6, 7, 2, 3, 0, 10]
print(L)
print(len(L))
L3 = L[:10]
print(L3)
L4 = L[5:]
print(L4)

[8, 9, 0, 1, 5, 6, 7, 2, 3, 0, 10]
11
[8, 9, 0, 1, 5, 6, 7, 2, 3, 0]
[6, 7, 2, 3, 0, 10]

In [34]:
#clear(): Removes all elements from the list, making it empty.
L2 = [10, 25, 3, 45, 5, 9]
print(L2)
L2.clear()
print(L2)

[10, 25, 3, 45, 5, 9]
[]

In [38]:
#Iterating List using "for" loop
L2 = [10, 25, 3, 45, 5, 9]
for i in L2:
    print(i, end = " ")

10 25 3 45 5 9