<a href="https://colab.research.google.com/github/thegeeksam/PythonProgrammingFDP_June2023/blob/main/Day_4_3_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color = "Lime"> Tuple
A tuple is an ordered collection of elements, enclosed in parentheses (), and separated by commas. Tuples are similar to lists, but they are <font color = "Magenta">**immutable**</font>, which means that once a tuple is created, its elements cannot be changed. Tuples can contain elements of different data types, such as integers, floats, strings, or even other tuples.

In [ ]:
my_tuple1  = ('physics', 'chemistry', 1997, 2000)
my_tuple2 = (1, 2, 3, 4, 5 )
my_tuple3 = "a", "b", "c", "d"
print(my_tuple1)
print(my_tuple2)
print(my_tuple3)

('physics', 'chemistry', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')

In [ ]:
a = "a"
b = "b",
print(type(a))
print(type(b))

<class 'str'>
<class 'tuple'>

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [ ]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [ ]:
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print("After deleting tup : ")
print(tup) #Error

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: ignored

In [ ]:
#Tuples also support various built-in functions, such as len()
my_tuple = (1, 2, 3,("Hello","World!","How are You!"),1,2,3,4)
print(len(my_tuple))

8

In [ ]:
print((1, 2, 3) + (4, 5, 6))

(1, 2, 3, 4, 5, 6)

In [ ]:
print(('Hi!',) * 4)

('Hi!', 'Hi!', 'Hi!', 'Hi!')

In [ ]:
print(3 in (1, 2, 3))

True

In [ ]:
for x in (1, 2, 3):
     print(x)

1
2
3

In [ ]:
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
print("First tuple length : ", len(tuple1))
print("Second tuple length : ", len(tuple2))

In [ ]:
tuple1 = (456, 700, 200)
print("Max value element : ", max(tuple1))

Max value element :  700

In [ ]:
tuple1=(456, 700, 200)

print("min value element : ", min(tuple1))

min value element :  200

In [ ]:
aList = [123, 'xyz', 'zara', 'abc']
aTuple = tuple(aList)
print(aTuple)

(123, 'xyz', 'zara', 'abc')

In [ ]:
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

In [ ]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)      # 3
print(b)      # 4.6
print(c)

In [ ]:
my_tuple = ("hello")
print(type(my_tuple))  # <class 'str'>

# Creating a tuple having one element
my_tuple = ("hello",)
print(type(my_tuple))  # <class 'tuple'>

In [ ]:
my_tuple = ('p','r','o','g','r','a','m','i','z')

# elements 2nd to 4th
# Output: ('r', 'o', 'g')
print(my_tuple[1:4])

# elements 8th to end
# Output: ('i', 'z')
print(my_tuple[7:])

# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('r', 'o', 'g')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

# <font color = "Lime"> Methods for Tuples: </font>
1. count(): This method returns the number of occurrences of a specified element in a tuple.

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))  # Output: 3

3

2. index(): This method returns the index of the first occurrence of a specified element in a tuple.

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.index(2))  # Output: 1

1

# <font color = "Lime"> Functions for Tuples: </font>

1. len(): This function returns the number of elements in a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
print(len(my_tuple))  # Output: 5

5

2. sorted(): This function returns a new sorted list containing all the elements of a tuple.

In [ ]:
my_tuple = (5, 3, 1, 4, 2)
sorted_tuple = sorted(my_tuple)
print(sorted_tuple)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

3. max(): This function returns the maximum element from a tuple.

In [ ]:
my_tuple = (5, 3, 1, 4, 2)
print(max(my_tuple))  # Output: 5

5

4. min(): This function returns the minimum element from a tuple.

In [ ]:
my_tuple = (5, 3, 1, 4, 2)
print(min(my_tuple))  # Output: 1

1

In [ ]:
my_tuple = (5, 3, 1, 4, 2)
for i in my_tuple:
    print(i)

5
3
1
4
2

#<font color = "orange">E</font><font color = "white">n</font><font color = "lime">d</font><font color = "gray"> o</font><font color = "red">f <font color = "purple">S<font color = "olive">e</font><font color = "navy">s</font><font color = "fushsia">s</font><font color = "teal">i</font><font color = "aqua">o</font><font color = "blue">n</font>
ü•é‚öæüéæ‚öΩüèà